.mainContainer {
  display: flex;
  box-shadow: 0 1px 34px white;
  /* border: 2px solid green; */
}

.moneyDiv {
  width: 50%;
  font-size: 2rem;
  background-color: #fdffff;
  /* border: 1px solid gray; */
  padding: 0.5rem 4rem;
  color: black;
  font-weight: 600;
}

.incomeDiv {
  /* background-color: #cfffd1; */
  border-right: 1px solid gray;
}
.incomeDiv_value {
  color: rgb(0, 211, 0);
}
.expenseDiv_value {
  color: rgb(255, 0, 0);
}
